doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')
    div.container.headTitles-con
        h3 Welcome, you can give us your feedback here, it's important for us!