  body {
    padding: 40px 10px;
    background-color: white;
    align-content: center;
  }

  .login-con h3 {
    text-align: center;
    margin: 0 0 2rem;
    size: 20;
    color: blue;
  }


  /* css for login form and errors*/
  .form-login {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-login {
    display: flex;
    flex-wrap: wrap;
  }
  .form-login input {
    width: 100%;
    margin: 0px 0 10px;
  }
  .form-login .btn {
    flex: 1 0 100%;
  }
  .my-errors {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    color: #333;
    font-size: 1rem;
    display: table;
  }
  .my-errors li {
    margin: 0 0 1rem;
  }
  .my-errors li:before {
    content: "Error : ";
    color: #f00;
    font-weight: bold;
  }
  .my-error {
    content:'some_error';
    color:red;
    text-align: center;
    margin: 0 0 1rem;
  }


  /* logToReg form on Login*/
  .form-logToReg {
    max-width: 330px;
    padding: 10px;
    margin: 0 auto;
  }
  .form-logToReg {
    display: flex;
    flex-wrap: wrap;
  }

  .form-logToReg .btn{
    background-color: white;
    color: blue;
    width:25%;
    text-align: left;
    margin: 0;
  }

  .form-logToReg label{
    width: 75%;
    color: black;
  }

  /* registration form */

  .registration-con h3{
    color: blue;
    text-align: center;
  }

  .registration-con infoLabel{
    color: blue;
    padding: 5%;
  }

  .form-register {
    max-width: 90%;
    padding: 15px;
    margin: 0 auto;
    background-color: white;
    border-style: groove;
    border-color: black;
    border-radius: 10px;
    border-width: 1px;
  }

  .form-register input{
    width: 100%;
    margin: 0px 0 10px;
  }

  .form-register label {
    width: 50%;
    text-align: left;
  }

  .first_row{
    columns: 2;
    padding: 0;
  }
  .second_row{
    columns: 2;
    padding: 0;
  }
  .third_row{
    columns: 2;
    padding: 0;
  }
  .fourth_row{
    columns: 2;
    padding: 0;
  }

  /* productsfeedback styles */
  .headTitles-con h3 {
    color: blue;
  }